body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222121;
}

.background {
    text-align: center;
    background-color: #0f0e0e;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #e75f11;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #ff5100;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #c5330eda;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #0953a1;
}

